.container {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  height: 108%;
  padding: 25px;
  width: 100%;
  font-family: 'GlacialIndifferenceRegular';
}

.content {
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.createInstance {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.instanceIconContainer {
  display: block;
  width: 100px;
  margin: 0 auto;
  .instanceIconText {
    position: absolute;
    // top: 50px; -> This is set in the js file
    width: 100px;
    opacity: 0;
    font-size: 17px;
    z-index: 1000000000;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
  }
  .instanceIcon {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
    border-radius: 50%;
  }
  .instanceIconOverlay {
    transition: opacity 0.2s;
    position: absolute;
    top: 80.35px;
    border-radius: 50%;
    width: 100px;
    opacity: 0;
    height: 100px;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
}

.instanceIconContainer:hover, .resetIcon:hover ~ .instanceIconContainer {
  cursor: pointer;
  .instanceIconOverlay {
    position: absolute;
    border-radius: 50%;
    top: 80.35px;
    width: 100px;
    opacity: 1;
    height: 100px;
    display: block;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  }
  .instanceIconText {
    top: 80.35px;
    position: absolute;
  }
  .instanceIcon {
    cursor: pointer;
  }
}

.instanceIconContainer:hover .resetIcon {
  opacity: 0.5;
}

.resetIcon:hover {
  color: #c0392b;
}

.resetIcon {
  margin: 0;
  position: absolute;
  top: 131px;
  opacity: 0;
  left: calc(16.3%);
  transform: translate(-50%, -50%);
  z-index: 1000000000;
  color: white;
  font-size: 52px;
  transition: opacity 0.2s ease-in-out;
}

