@import '../../style/theme/index';

@mixin underline_animation($color) {
  position: relative;
  color: $color;
  display: inline;
  backface-visibility: hidden;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.145s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.content {
  color: $text-main-color;
  right: 0px;
  display: block;
  height: calc(100vh);
  background: var(--secondary-color-1);
  width: 128%;
  font-size: 32px;
  overflow: visible;
  .innerContent {
    margin-left: -3px;
    width: 100%;
  }
  .firstCard {
    display: flex;
    align-content: center;
    width: 100%;
    margin: 0 0 0 0;
    div:first-child {
      flex-basis: 70%;
      text-align: center;
      .titleHeader {
        font-size: 32px;
        .patreonText {
          font-weight: bold;
          @include underline_animation(#f96854);
        }
      }
      .patreonContent {
        text-align: left;
        padding-top: 20px;
        font-size: 17px;
      }
    }
    div:nth-child(2) {
      flex-basis: 30%;
      text-align: center;
      .discord {
        font-weight: bold;
        font-size: 22px;
        a {
          @include underline_animation(#7289da);
        }
      }
      .facebook {
        font-size: 22px;
        font-weight: bold;
        a {
          @include underline_animation(#27ae60);
        }
      }
      .instagram {
        font-weight: bold;
        font-size: 22px;
        a {
          @include underline_animation(#f39c12);
        }
      }
      .github {
        font-weight: bold;
        font-size: 22px;
        a {
          @include underline_animation(#2980b9);
        }
      }
    }
  }
}
